Python에서 제공하는 문자열 내장함수

In [1]:
# 문자열 길이 출력
a = 'Hello'
b = ' Hello '
print(len(a))
print(len(b))

5
7

In [3]:
# 문자 형태 변환, 대소문자
a = 'Hello world'

print(a.upper()) # 대문자
print(a.lower()) # 소문자
print(a.swapcase()) # 반대로
print(a.title()) # 첫글자만(공백인정)

HELLO WORLD
hello world
hELLO WORLD
Hello World

In [4]:
_list = [4,3,2,6]
print(_list.sort()) # 왜??????????

None

In [5]:
a = a.upper()
print(a)

HELLO WORLD

In [8]:
# 문자열 앞뒤 공백 제거
test_text = '       Hello World         '
test_text.strip() # 좌 : lstrip, 우 : rstrip

'Hello World'

In [14]:
test = '$100'
int(test.lstrip('$')) # $지우고 정수형으로 바꾸겠다

100

In [19]:
a = 'Hello world'
b = '   Hello WORLD   '

a == b

False

In [23]:
b = b.strip()
a = a.upper()
b = b.upper()

a == b

True

In [24]:
# replace((특정문자), {치환할 문자})
a.replace('HELLO', 'HI')

'HI WORLD'

In [32]:
a = '상 품 A'
b = '상품a'

a = a.replace(' ','')
b = b.upper()

print(a)
print(b)

a == b

상품A
상품A

True

In [34]:
# split() : 기본값 - 공백
a = 'a b c d'
print(a)
print(a.split())

a b c d
['a', 'b', 'c', 'd']

In [35]:
b = '1/2/3/4/5/6'
print(b.split('/'))

['1', '2', '3', '4', '5', '6']

In [44]:
sql_data = """
select * from user
"""
sql_data2 = """
insert into user values('test','1234')
"""

In [47]:
sql_data.split()[0] == 'select'

True

In [48]:
sql_data3 = """
SELECT * FROM USER
"""
sql_data3.lower().split()[0] == 'select'

True

In [49]:
sql_data3.lower().strip().startswith('select') # startswith : ~로 시작하는가

True

# 일반함수
- 어떠한 입력값을 가지고 작업을 실행해 결과물을 리턴해주는 기능

In [50]:
def func1(a, b) :
    result = a + b
    return result

def func2(a, b) :
    result = a + b
    print(result)

In [53]:
test = func1(3, 6)

In [54]:
test2 = func2(3, 6)

9

In [55]:
print(test)
print(test2) # 리턴이 없음!!!!!

9
None

In [60]:
# 인자의 개수가 가변인 경우
def func3(*args) :
    print(type(args)) # tuple
    print(args)
    print(len(args))

func3(1,2,3,4)
func3(6,10,'tet')

<class 'tuple'>
(1, 2, 3, 4)
4
<class 'tuple'>
(6, 10, 'tet')
3

In [63]:
# 매개변수 2개
# 두개의 변수 중 작은 값을 출력
def func4(a, b) :
    if(a < b):
        return a
    else : return b

func4(10,2)

2

In [64]:
min(3,6,10,2,9)

2

In [93]:
def minn(*args) :
    result = args[0]
    # case1
    # for i in range(1,len(args),1) :
    #     if result > args[i] :
    #         result = args[i]
    # return result
    
    # case2
    for i in args[1:] :
        if result > i :
            result = i
    return result


minn(2,3,4)

2

In [99]:
# 평균 값
def avg(*args) :
    total = 0
    cnt = 0
    for i in args :
        total += i
        cnt += 1
    total /= cnt
    return total

avg(3,6,9)

6.0

In [105]:
# 첫번째 매개변수는 최솟값, 평균을 선택하는 변수
# 두번째 매개변수는 인자개수 가변
def func7(flag, *args):
    if (flag == 'min'):
        result = args[0]
        for i in args[1:] :
            if result > i :
                result = i

    elif flag == 'avg' :
        result = 0
        cnt = 0
        for i in args :
            result += i
            cnt += 1
        result /= cnt

    return result

print(func7('min', 1,4,5))
print(func7('avg', 1,2,3,4,5))

1
3.0