In [51]:
import pandas as pd

In [52]:
# 1차원 데이터 series 생성
pd_series = pd.Series(
    [5000,6000,5500,6500]
)

In [53]:
print(pd_series)

0    5000
1    6000
2    5500
3    6500
dtype: int64

In [54]:
pd_series2 = pd.Series(
    [5000,6000,6500,6500],
    index = ['아메리카노','카페라떼','카페모카','카푸치노']
)

In [55]:
print(pd_series2)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [56]:
# Series : Class -> 변수 + 함수
print(pd_series2.values)

[5000 6000 6500 6500]

In [57]:
print(pd_series2.index) # dtype='object 문자로 되어있다

Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [58]:
pd_series2.index = ['아아','라떼','모카','카푸치노'] # 길이는 같아야 함 다르면 에러!!

In [59]:
print(pd_series2)

아아      5000
라떼      6000
모카      6500
카푸치노    6500
dtype: int64

In [60]:
# 라떼 가격 변경
pd_series2.values[1] = 6300
print(pd_series2.values)

[5000 6300 6500 6500]

In [61]:
data = {
    '아아' : 5000,
    '라뗴' : 6300,
    '모카' : 6500,
    '카푸치노' : 6500
}

In [62]:
data['모카'] = 7000

In [63]:
pd_series2['모카'] = 7000

In [64]:
print(pd_series2)

아아      5000
라떼      6300
모카      7000
카푸치노    6500
dtype: int64

In [65]:
# value와 index의 개수가 다를 때
_val = [5000,6000,6500,6500]
_index = ['a','b','c']

pd.Series(_val, _index)

ValueError: Length of values (4) does not match length of index (3)

In [ ]:
# 2차원 데이터 DataFrame 생성
_val = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
df = pd.DataFrame(_val)

In [ ]:
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
print(df.values)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [ ]:
print(df.index) # RangeIndex(start=0, stop=3, step=1)
print(list(df.index))
print(df.columns)
print(list(df.columns))

RangeIndex(start=0, stop=3, step=1)
[0, 1, 2]
RangeIndex(start=0, stop=3, step=1)
[0, 1, 2]

In [ ]:
# 컬럼의 이름 변경
df.columns = ['A','B','C']

In [ ]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
# 컬럼 이름 변경 B -> b
df.columns[1] = 'b'

TypeError: Index does not support mutable operations

In [ ]:
# 아래와 동일
# df = df.rename(columns={
#     'A' : 'a',
#     'B' : 'b',
#     'C' : 'c'
# })

df.rename(columns={
    'A' : 'a',
    'B' : 'b',
    'C' : 'c'
}, inplace=True)

In [ ]:
df = df.rename(
    columns= {
        'a' : 'A'
    },
    inplace=True
)

df

In [ ]:
# 위에 결과값이 왜 안나오는지에 대한 설명 함수 .. 필요한가?
res = 0
def func1(a,b, inplace = False) :
    result = a + b
    if inplace :
        globals()['res'] = result # globals() : 모든 전역변수 확인
    else :
        return result
    
print(res)
func1(5,3,True)

0

In [ ]:
print(res)

8

In [ ]:
res = func1(20,10,inplace=True)
print(res)

None

In [ ]:
# list + dict
data = {
    'name' : ['a','b','c'],
    'age' : [20,30,40]
}
df2 = pd.DataFrame(data)

In [ ]:
df2

  name  age
0    a   20
1    b   30
2    c   40

In [ ]:
data2 = [
    {
        'name' : 'a',
        'age' : 20
    },
    {
        'name' : 'b',
        'age' : 30
    }
]

df3 = pd.DataFrame(data2)
df3

  name  age
0    a   20
1    b   30

# 외부 데이터 파일 로드
- csv
    -  pandas 안에 있는 read_csv({파일의 경로}) 함수 호출
- json
    - read_json({파일의 경로})
- excel
    - read_excel({파일의 경로})
- xml
    - read_xml({파일의 경로})

- encoding (default : utf-8)
    - CP949, EUC-KR : 한글 오류날 때

- 공용 매개변수
    - index_col
    - 특정 컬럼을 인덱스로 변환해 데이터프레임 생성
- 파일경로 : 절대경로, 상대경로

In [68]:
# 외부 데이터 파일 로드
df = pd.read_csv('../../csv/AAPL.csv')

In [69]:
df.head(3)
df.tail(3)

,Date,Open,High,Low,Close,Adj Close,Volume
9712,2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
9713,2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
9714,2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

In [71]:
df2 = pd.read_json('../../csv/202101_expense_list.json')

In [ ]:
df2.head(1)

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,...,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount,bimok
0,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,,,2021,1,...,NaN,,중랑물재생센터 관리과,2021-01-25 00:00,,소속직원 경조사비,"김광옥, 김용성",현금,100000,None

In [72]:
df3 = pd.read_excel('../../csv/202101_expense_list.xlsx')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [73]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 7.8 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [74]:
pd.read_csv('../../csv/주민등록.csv', encoding='CP949')

,자치구코드(atdrc_code_se),자치구명(atdrc_nm),년월(년월),총인구수(tot_popltn_co),세대수(tot_hshld_co),세대당인구(hshld_popltn_avrg_co),남자인구수(male_popltn_co),여자인구수(female_popltn_co),적재일시(ldadng_dt)
0,금천구,11110,201907,228755,171426,2.44,319062,118352,2018-01-05 16:52:25
1,서대문구,11290,201607,153780,186744,2.12,75614,116393,2018-12-05 10:20:57
2,양천구,11740,201804,594315,61091,2.22,192817,307237,2020-11-03 10:50:11
3,은평구,11200,202004,345156,168865,2.13,229690,204108,2018-01-05 16:52:25
4,마포구,11260,201902,394788,168482,2.52,61714,146951,2018-01-05 16:52:25
5,도봉구,11350,201704,150732,61069,2.39,60735,199831,2018-01-05 16:52:25
6,강북구,11410,202008,404501,174263,2.25,184053,172995,2018-01-05 16:52:25
7,용산구,11620,201407,433658,173943,1.85,252383,198754,2018-01-05 16:52:25
8,관악구,11140,201710,308087,180747,2.01,192923,245902,2021-01-21 15:43:29
9,동대문구,11470,201806,447667,162606,2.49,215440,64221,2020-07-22 20:11:55
10,양천구,11200,201504,559697,109708,2.36,237588,75262,2019-04-22 14:53:02
11,광진구,11260,201704,379339,126579,2.34,110605,174332,2018-01-05 16:52:25
12,관악구,11440,201906,431423,177247,2.65,233214,192414,2018-01-05 16:52:25
13,서초구,11500,201712,234627,144805,2.46,172446,332802,2019-09-05 14:06:33
14,강남구,11380,201712,451253,63851,2.62,320480,177158,2021-06-21 11:02:17
15,강남구,11305,201904,542576,173142,2.54,60139,243251,2020-11-03 10:50:11
16,종로구,11470,201505,442119,248840,2.19,157312,61327,2019-04-22 14:53:02
17,광진구,11350,202001,226161,159500,2.08,232838,158869,2019-03-11 09:30:24
18,구로구,11410,201504,126270,172505,2.26,74025,284150,2019-08-05 09:45:14
19,노원구,11170,201412,233017,243049,2.40,117497,298131,2020-11-03 10:50:11
20,중랑구,11470,201807,421579,133458,1.99,206423,182741,2018-01-05 16:52:25
21,도봉구,11380,201408,483473,167301,2.03,225186,204424,2020-07-22 20:11:55
22,성동구,11545,201805,300410,269220,2.64,74662,197070,2018-12-05 10:20:57
23,구로구,11320,201505,305785,136393,2.62,187960,177515,2019-03-11 09:30:24
24,서초구,11440,201704,405271,135147,2.11,150937,148298,2018-11-05 09:53:36
25,강서구,11410,201712,378199,185610,2.46,157743,78354,2018-01-05 16:52:25
26,금천구,11440,202007,218929,259692,2.34,255912,285095,2018-01-05 16:52:25
27,노원구,11710,201409,373252,138984,2.23,258407,204359,2018-01-05 16:52:25
28,은평구,11170,201404,149524,229712,2.57,167155,162829,2018-01-05 16:52:25
29,노원구,11680,201708,478019,100534,2.18,278171,61187,2018-01-05 16:52:25